html,body {
    width: 100%;
    height: 100%;
}

.grid_container {
    width: 200px;
    height: 100px;
    position: relative;
    left: 50%;
    top: 48%; /* for optical centering */
    margin-top: -50px;
    margin-left: -100px;
}

.letter {
    font-family: 'Montserrat', sans-serif;
    font-size: 3em;
    float: left;
    margin-left: 5px;
}


@keyframes n_move {
    0% {top:0px; left: 0px; color: black}
    25% { top: -150px; left: 0px; }
    50% { top: -150px; left: 65px;color: pink;}
    100% { top: 0px; left: 65px; color: red}
}

.n {
    position: relative;
    animation: n_move 2s infinite ease-in-out;
}

@keyframes s_fade {
    0% { opacity: 0;}
    50% { opacity:.5;}
    100% { opacity: 1;}

}

.s {
    opacity: 0;
    animation: s_fade 3s infinite;
    animation-fill-mode: forwards;
    animation-delay: 1s;
}

@keyframes t_move {
    0% { right: 0px;}
    100% { right: 50px;color: red}
}

.t {
    position: relative;
    animation: t_move 2s infinite ease;
}

@keyframes k_move {
    0% { right: 0px;}
    100% { right: 50px;}
}

.k {
    position: relative;
    animation: k_move 2s infinite ease;
}

@keyframes rotate {
    0% { transform: rotate(0deg);}
    100% { transform: rotate(90deg) }
}


.square {
    width: 500px;
    height: 500px;
    background: peachpuff;
    position: absolute;
    left: 50%;
    top: 45%;
    margin-left: -250px;
    margin-top: -175px;
    z-index: -1;
    /*transform-origin: 50% 50%;*/
    animation: rotate 9s infinite linear; }
